header {
  padding: 16px;
}
main {
  clear: both;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}
@media (min-width: 1081px) {
  header {
    width: calc(100% - 400px);
    float: right;
  }
}